<p>
  <%= t("mailers.passwords.html_intro") %>
  <%= link_to t("mailers.passwords.html_link"), edit_password_url(@user.password_reset_token) %>.

  <%= t("mailers.passwords.expires_in", duration: distance_of_time_in_words(0, @user.password_reset_token_expires_in)) %>
</p>
