<p>
  <%= t("mailers.email_verifications.html_intro") %>
  <%= link_to t("mailers.email_verifications.html_link"), email_verification_url(token: @token) %>.
</p>

<p><%= t("mailers.email_verifications.expires") %></p>
